/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
   

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	
	.list {
        padding: 2% 7%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {	
    .menu {
        margin: 3% 0 0; 
    }
    .row1 span {
        margin-left: 10px;        
    }
    .row1 a {
        font-size: 17px;
    }
    .row1 {
        font-size: 17px;
    }
    .menu {
        font-size: 17px;
    }
    .menu i {
        margin-right: 10px;
    }
    .logo {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
    .logo1 {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
    .logo2 {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
   


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
     

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	

	

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}